.default {
  @apply no-underline;
  @apply bg-gray-100 hover:bg-gray-200;
  @apply border border-gray-200;
  @apply font-bold;
  @apply py-2 px-2;
  color: #000000;
  cursor: pointer;
}

.default > * {
  vertical-align: middle;
}

.groupRight {
  display: flex;
  justify-content: flex-end;
}

.groupRight button {
  margin-left: 10px;
}

.default svg {
  margin-right: 5px;
}

.default:hover {
	background-image: linear-gradient(to bottom, #ebebeb, #f5f5f5);
}
