@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply underline;
	color: #357ab0;
}

a:hover {
  @apply no-underline;
}

.bg-jsp-blue {
  background-image: linear-gradient(to bottom, #6ca5dd, #1a6ab9);
}
