html {
	background: #f5f5f5;
	height: 100%;
}

html, input, textarea, button {
	font: 1em/1.5 sans-serif;
}

body {
	background: #fff;
	border: solid #e5e5e5;
	border-width: 0 1px;
	width: 60em;
	padding: 0 2.5em;
	margin: 0 auto;
	min-height: 100%;
}

button {
  padding: 0;
  border: 0;
}

label {
  margin: 5px 10px 5px 0;
  width: 150px;
  display: inline-block;
  text-align: right;
}

input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

.y-top {
  vertical-align: top;
}

.w-full {
  width: 100%;
}

.w-md {
  width: 20em;
}

.bg-blue {
  background-image: linear-gradient(to bottom, #6ca5dd, #1a6ab9);
  /* background-color: #1f6feb; */
}

.text-white {
  color: #FFF;
}

/* < 1041px */
@media (max-width: 1040px) {
	body {
		margin: 0;
		border: 0;
	}

	body, #comments .meta {
		width: 100%;
		box-sizing: border-box;
	}

}

